<div>
  <div class="btn-group-vertical">
    <label class="btn btn-default" ng-model="tool.symmetry" uib-btn-radio="'none'" uib-tooltip="No symmetry enforced" tooltip-placement="right"><span class="glyphicon glyphicon-resize-vertical"></span></label>
    <label class="btn btn-default" ng-model="tool.symmetry" uib-btn-radio="'horizontal'" uib-tooltip="Reflected around central X coordinate" tooltip-placement="right"><span class="glyphicon glyphicon-tint"></span></label>
    <label class="btn btn-default" ng-model="tool.symmetry" uib-btn-radio="'vertical'" uib-tooltip="Reflected around central Y coordinate" tooltip-placement="right"><span class="glyphicon glyphicon-map-marker"></span></label>
  </div>

  <label class="btn btn-default" uib-tooltip="Symmetry is normally enforced only on the parts of the map that change. This enforces symmetry over the entire map" tooltip-placement="bottom">Enforce</label>
</div>