<div class="modal-header dialog-header-notify">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 class="modal-title"><span class="glyphicon glyphicon-file"></span> Save As</h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-lg-4">Location</div>
    <div class="col-lg-8">
      <div class="btn-group">
        <label class="btn btn-default" ng-model="data.mode" uib-btn-radio="0">Browser localstorage</label>
        <label class="btn btn-default" ng-model="data.mode" uib-btn-radio="1">Zip file</label>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <span class="pull-left" ng-show="data.mode === 0">Remember that localstorage is deleted if you clear private browsing data</span>
  <button type="button" class="btn btn-default pull-right" ng-click="ok()">OK</button>
</div>
